.venv/
__pycache__/
*.pyc
models/
*.h5
*.keras

# BUT allow the cloud deployment models (needed for Render)
!hf_deploy/models/
!hf_deploy/models/*.keras
!hf_deploy/models/*.json
external_eval_result*.json
semaphore_deadlock_lab04/*.class

.env
atlas-credentials.env
ngrok.exe
ngrok.zip
Dataset Files/
*.log
.idea/
.vscode/
extra/
